@layer base {
  :root {
    @apply scroll-smooth;
  }

  *,
  ::after,
  ::before {
    @apply border-overlay;
  }

  html {
    color-scheme: light dark;
  }

  html[data-theme='light'] {
    color-scheme: light;
  }

  html[data-theme='dark'] {
    color-scheme: dark;
  }

  body {
    @apply bg-base text-text;
  }

  /* Layout Transitions */
  /* .layout-transition {
    @apply transition-all duration-300 ease-in-out;
  } */

  /* TopNav Transitions */
  /* .topnav-visible {
    @apply h-10 opacity-100;
  }

  .topnav-hidden {
    @apply h-0 overflow-hidden opacity-0;
  } */

  /* Sidebar Transitions */
  /* .sidebar-visible {
    @apply w-auto opacity-100;
  }

  .sidebar-hidden {
    @apply w-0 overflow-hidden opacity-0;
  } */
}
