@layer base {
  :root {
    @apply scroll-smooth;
  }

  *,
  ::after,
  ::before {
    @apply border-overlay;
  }

  html,
  body {
    @apply h-full overflow-hidden overscroll-none;
  }

  html {
    color-scheme: light dark;
  }

  html[data-theme='light'] {
    color-scheme: light;
  }

  html[data-theme='dark'] {
    color-scheme: dark;
  }

  body {
    @apply bg-base text-text tabular-nums antialiased;
  }
}
